body {
    background: #ecf1f9;
}

.custom-nav {
    background: #13226b;
    height: 65px;
    display: flex;
    align-items: center;
}

.custom-card {
    transition: .3s;
    border-radius: 12px;
}

.custom-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h2 {
    color: #13226b;
}
